/* (Mini) Reset do CSS para resetar as propriedades mais comuns que são aplicadas pelo navegador, a fim de eliminar possiveis incompatibilidades entre navegadores */

* {
    margin: 0;
    padding: 0;
    font-size: initial;
    font-weight: initial;
    box-sizing: border-box;
    text-align: initial;
}


/* Estilos defenidos para a página de documentação */

body {
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h1 {
 font-size: 32pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;
}


p, table{
    margin: 10px 0;
}

p {
    line-height: 1,5;
    font-size: 16pt;
    margin-left: 10px;
    text-align: justify;
}

td, th {
    font-size: 16px;
}

tr:nth-child(odd) {
    background-color: #cecece;
}

    .container1 {
        height: 300px;
        background-color: #ce5374;
        border: 5px solid #223127;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .container2 {
        height: 300px;
        background-color: #a6c496;
        border: 5px solid #475b63;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .container3 {
        height: 300px;
        background-color: #9ccab1;
        border: 5px solid #2e897b;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    
    .container-baseline {
        height: 300px;
        background-color: #9ccab1;
        border: 5px solid #2e897b;
        border-radius: 20px;
    }
    
    .container4 {
        height: 300px;
        background-color: #bcabae;
        border: 5px solid #716969;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    
    .container5 {
        height: 300px;
        background-color: #b26b70;
        border: 5px solid #312f2f;
        margin-bottom: 10px;
        border-radius: 20px;
    }

     
    .container6 {
        height: 300px;
        background-color: #cc6d5fac;
        border: 5px solid #56494e;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .contido1 {
        width: 100px;
        height: 100px;
        background-color: #d9bdae;
        border: 5px solid #370816;
        border-radius: 10px;
        margin: 5px
    }


    .contido2 {
        width: 100px;
        height: 100px;
        background-color: #f3e8ee;
        border: 5px solid #729b79;
        border-radius: 10px;
        margin: 5px
    }
    
    .contido3 {
        width: 100px; 
        height: 100px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contidob1 {
        width: 100px; 
        height: 100px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contidob2 {
        width: 100px; 
        height: 75px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contidob3 {
        width: 100px; 
        height: 200px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contidob4 {
        width: 150px; 
        height: 100px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contidob5 {
        width: 100px; 
        height: 150px;
        background-color: #70b7c8;
        border: 5px solid #004e64;
        border-radius: 10px;
        margin: 5px
    }
    
    .contido4 {
        width: 100px;
        height: 100px;
        background-color: #b18b8b;
        border: 5px solid #2d2e2e;
        border-radius: 10px;
        margin: 5px
    }
    
    .contido5 {
        width: 100px;
        height: 100px;
        background-color: #f5f5f5;
        border: 5px solid #22181c;
        border-radius: 10px;
        margin: 5px
    }
    
    .contido6 {
        width: 250px;
        height: 60px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    } 



    .display-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-flex-start {
        justify-content: flex-start;
    }
    .justify-content-flex-end {
        justify-content: flex-end;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }

    .justify-content-space-around {
        justify-content: space-around
    }
    

    .justify-content-space-evenly {
        justify-content: space-evenly;
    }

    .justify-content-initial {
        justify-content: initial;
    }

    .justify-content-inherit {
        justify-content: inherit;
    }

    .flex-direction-row {
        flex-direction: row;
    }

    .flex-direction-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-direction-column {
        flex-direction: column;
    }

    .flex-direction-column-reverse {
        flex-direction: column-reverse;
    }

    .flex-direction-initial {
        flex-direction: initial;
    }

    .flex-direction-inherit {
        flex-direction: inherit;
    }

    .align-items-stretch {
        align-items: stretch;
    }

    .align-items-center {
        align-items: center;
    }

    .align-items-flex-start {
        align-items: flex-start;
    }
    
    .align-items-flex-end {
        align-items: flex-end;
    }
    
    .align-items-start {
        align-items: start;
    }
    
    .align-items-end {
        align-items: end;
    }
    
    .align-items-baseline {
        align-items: baseline;
    }
    
    .align-items-initial {
        align-items: initial;
    }
    
    .align-items-inherit {
        align-items: inherit;
    }

    .contido-align-items {
        width: initial;
        height: initial;
        background-color: #70b7c8;
        border: 5px solid #004e64;
    }

    .flex-wrap-nowrap {
        flex-wrap: nowrap;
    }


    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    

    .contido-wrap {
        width: 300px;
        height: 75px;
        background-color: #b18b8b;
        border: 5px solid #2d2e2e;
        border-radius: 10px;
        margin: 5px
    }

    .flex-flow {
        flex-flow: wrap column;
    }

    .align-content-stretch {
        align-content: stretch;
    }

    .align-content-center {
        align-content: center;
        flex-wrap: wrap;
    }

    .align-content-flex-start {
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .align-content-flex-end {
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .align-content-space-between {
        align-content: space-between;
        flex-wrap: wrap;
    }

    .align-content-space-around {
        align-content: space-around;
        flex-wrap: wrap;
    }

    .align-content-space-evenly {
        align-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .contidoac1 {
        width: 100%;
        height: 40px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    } 
    .contidoac2 {
        width: 100%;
        height: 40px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    } 
    .contidoac3 {
        width: 100%;
        height: 40px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    } 
    .contidoac4 {
        width: 100%;
        height: 40px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    } 
    .contidoac5 {
        width: 100%;
        height: 40px;
        background-color: #db324d;
        border: 5px solid #5f1823;
        border-radius: 10px;
        margin: 5px
    }

    